<div onclick="myFunction()" class="bars__div">
    <ion-icon name="list-outline"></ion-icon>
</div>
<nav id="nav">
    
    <li><a class="a" href="../index.html">Mickey Hansen</a></li>
    <li><a class="a" href="#">Skills</a></li>
    <li><a class="a" href="./about/index.html">About</a></li>
    <li><a class="a" href="./products.html">Work/Projects</a></li>
</nav>