<div class="bars__div">
    <ion-icon name="list-outline"></ion-icon>
</div>
<nav id="nav">
    
    <li><a class="a" href="index.html">Mickey Hansen</a></li>
    <li><a class="a" href="product.html">Age</a></li>
    <li><a class="a" href="#">Skills</a></li>
    <li><a class="a" href="#">About</a></li>
</nav>